@model Vidly.Models.Movie
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Name</h1>

<div class="form-group">
    <fieldset>
        <label for="membershipType" class="col-sm-2 col-form-label">Genre</label>
        <div class="col-sm-10">
            <input class="form-control" id="membershipType" type="text" placeholder="@Model.MovieGenreType.Name" disabled="" />
        </div>
    </fieldset>
</div>
<div class="form-group mb-2">
    <fieldset>
        <label for="releaseDate" class="col-sm-2 col-form-label">Release Date</label>
        <div class="col-sm-10">
            <input class="form-control" id="releaseDate" type="text" placeholder="@Model.ReleaseDate" disabled="" />
        </div>
    </fieldset>
</div>
<div class="form-group mb-2">
    <fieldset>
        <label for="dateAdd" class="col-sm-2 col-form-label">Date Add</label>
        <div class="col-sm-10">
            <input class="form-control" id="dateAdd" type="text" placeholder="@Model.DateAdded" disabled="" />
        </div>
    </fieldset>
</div>
<div class="form-group mb-2">
    <fieldset>
        <label for="numberInStock" class="col-sm-2 col-form-label">Number in Stock</label>
        <div class="col-sm-10">
            <input class="form-control" id="numberInStock" type="text" placeholder="@Model.NumberInStock" disabled="" />
        </div>
    </fieldset>
</div>
